/target
/Apps
*.db
out.rs
*.db
*.db-shm
*.db-wal
cluster.db
cluster.db-shm
cluster.db-wal
*.log
/db_data
.cargo/sql_formatter/target/
.cargo/sql_formatter/Cargo.lock
.env

# Ignore common editor/project files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace
*.sw?
*~
.DS_Store
Thumbs.db