[package]
name = "omni-orchestrator"
version = "0.1.0-in-dev-57696b7d5193518045c0654f20cd0c61f6e27ccc"
edition = "2021"

[dependencies]
rocket = { version = "0.5", features = ["json", "uuid"] }
uuid = { version = "1.11.0", features = ["v4", "serde"] }
tokio = { version = "1", features = ["full"] }
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = "1.0"
async-trait = "0.1"
reqwest = { version = "0.11", features = ["json", "native-tls-vendored", "rustls-tls"] }
log = "0.4"
env_logger = "0.9"
thiserror = "1.0"
parking_lot = "0.12"
chrono = { version = "0.4.39", features = ["serde"] }
futures = "0.3.31"
colored = "2.2.0"
anyhow = "1.0.95"
lazy_static = "1.5.0"
rocket-multipart-form-data = "0.10.7"
sha2 = "0.10.8"
rand = "0.8.5"
hex = "0.4.3"
mysql = "25.0.1"
once_cell = "1.20.2"
sqlx = { version = "0.8.3", features = ["runtime-tokio", "macros", "mysql", "time", "chrono"] }
syntect = "5.2.0"


[profile.dev]
codegen-units = 32
incremental = true
debug-assertions = false
overflow-checks = false
opt-level = 0
lto = "thin"
